# nb_01_gym_env.ipynb

jupyterlab
swig
gymnasium[box2d]

# nb_02_solve_with_sb3.ipynb

stable-baselines3
tqdm
rich
ipywidgets

# nb_03_MsPacman.ipynb

ale_py
gymnasium[other]

# nb_04_FrozenLake_wrappers.ipynb

pandas

# nb_05_MontyHall.ipynb

matplotlib

# nb_06_Chess_from_PZ.ipynb

pettingzoo[classic]
